<% for(var i=0; i < item.length; i++) { %>

  <tr>
    <td>
      <%= i + 1 %>
    </td>
    
    <td>
      <img src="/backend_images/<%= item[i].Image %>" width="100px"/>
    </td>
    <td>
      <%= item[i].Title%>
    </td>
    <td>
      <%= item[i].Price%>
    </td>
    <!-- <td>
      <%= item[i].Email%>
  </td> -->
    <td>
      <%= item[i].Date%>
    </td>
   

  </tr>
  <% } %>